[submodule "scripts/invrotzyme"]
	path = scripts/invrotzyme
	url = https://github.com/ikalvet/invrotzyme.git
[submodule "software/superfold"]
	path = software/superfold
	url = https://github.com/rdkibler/superfold.git
[submodule "software/LigandMPNN"]
	path = software/LigandMPNN
	url = https://github.com/dauparas/LigandMPNN.git
[submodule "software/PLACER"]
	path = software/PLACER
	url = https://github.com/baker-laboratory/PLACER
[submodule "software/dl_binder_design"]
	path = software/dl_binder_design
	url = https://github.com/nrbennet/dl_binder_design.git
[submodule "software/ca_rf_diffusion"]
	path = software/ca_rf_diffusion
	url = https://github.com/baker-laboratory/CA_RFDiffusion.git
